<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="content-language" content="es" />
	<meta name="robots" content="noindex,nofollow" />
	<link rel="stylesheet" media="screen,projection" type="text/css" href="css/reset.css" /> <!-- RESET -->
	<link rel="stylesheet" media="screen,projection" type="text/css" href="css/main.css" /> <!-- MAIN STYLE SHEET -->
	<link rel="stylesheet" media="screen,projection" type="text/css" href="css/2col.css" title="2col" /> <!-- DEFAULT: 2 COLUMNS -->
	<link rel="alternate stylesheet" media="screen,projection" type="text/css" href="css/1col.css" title="1col" /> <!-- ALTERNATE: 1 COLUMN -->
	<!--[if lte IE 6]><link rel="stylesheet" media="screen,projection" type="text/css" href="css/main-ie6.css" /><![endif]--> <!-- MSIE6 -->
	<link rel="stylesheet" media="screen,projection" type="text/css" href="css/style.css" /> <!-- GRAPHIC THEME -->
	<link rel="stylesheet" media="screen,projection" type="text/css" href="css/jquery.dataTables.css" /> <!-- DataTable CSS -->
	<link rel="stylesheet" media="screen,projection" type="text/css" href="css/mystyle.css" /> <!-- WRITE YOUR CSS CODE HERE -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/switcher.js"></script>
	<script type="text/javascript" src="js/toggle.js"></script>
	<script type="text/javascript" src="js/ui.core.js"></script>
	<script type="text/javascript" src="js/ui.tabs.js"></script>
	<script type="text/javascript" src="js/jquery.dataTables.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		$(".tabs > ul").tabs();
	});
	</script>
	<title>Sistema Verde</title>
</head>

<body>
<div id="main">

	<!-- Tray -->
	<div id="tray" class="box">
		<p class="f-right">Usuario: <strong><a href="#">Administrator</a></strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong><a href="#" id="logout">Salir</a></strong></p>
	</div> <!--  /tray -->

	<hr class="noscreen" />

	<!-- Columns -->
	<div id="cols" class="box">

		<!-- Aside (Left Column) -->
		<div id="aside" class="box">

			<div class="padding box">

				<!-- Logo (Max. width = 200px) -->
				<p id="logo"><a href="#"><img src="tmp/logo.gif" alt="Sistema Verde" title="Sistema Verde" /></a></p>

				<!-- Search -->
				<!--<form action="#" method="get" id="search">
					<fieldset>
						<legend>Search</legend>

						<p><input type="text" size="17" name="" class="input-text" />&nbsp;<input type="submit" value="OK" class="input-submit-02" /><br />
						<a href="javascript:toggle('search-options');" class="ico-drop">Advanced search</a></p>

					</fieldset>
				</form>-->

			</div>

			<ul class="box"> <!-- menu -->
				<li id="submenu"><a href="#">Listado de Alumnos</a> <!-- Active -->
				<!--	<ul>
						<li><a href="#">Lorem ipsum</a></li>
						<li><a href="#">Lorem ipsum</a></li>
						<li><a href="#">Lorem ipsum</a></li>
						<li><a href="#">Lorem ipsum</a></li>
						<li><a href="#">Lorem ipsum</a></li>
					</ul>-->
				</li>
				<li id="submenu"><a href="#">Control de Usuarios</a></li>
				<li id="submenu-active"><a href="#">Feedback</a></li>
				<li id="submenu"><a href="#">Estadísticas</a></li>
			</ul>
		</div>

		<hr class="noscreen" />

		<!-- Content (Right Column) -->
		<div id="content" class="box">
			<h1>Feedback</h1>
			<p class="msg info">Los alumnos, al entrar al sistema, ven un botón que dice <strong>Feedback</strong>. Al escribir una sugerencia, ésta es depositada aquí, permitiendo saber cómo mejorar el sistema.</p>
			<table style="width: 100%">
				<tr>
				    <th width="10%">ID</th>
				    <th width="30%">Alumno</th>
				    <th width="60%">Sugerencia</th>
				</tr>
				<tr>
				    <td>Lorem ipsum</td>
				    <td>Lorem ipsum</td>
				    <td>Lorem ipsum</td>
				</tr>
				<tr class="bg">
				    <td>Lorem ipsum</td>
				    <td>Lorem ipsum</td>
				    <td>Lorem ipsum</td>
				</tr>
				<tr>
				    <td>Lorem ipsum</td>
				    <td>Lorem ipsum</td>
				    <td>Lorem ipsum</td>
				</tr>
				<tr class="bg">
				    <td>Lorem ipsum</td>
				    <td>Lorem ipsum</td>
				    <td>Lorem ipsum</td>
				</tr>
				<tr>
				    <td>Lorem ipsum</td>
				    <td>Lorem ipsum</td>
				    <td>Lorem ipsum</td>
				</tr>
			</table>

		</div> <!-- /content -->

	</div> <!-- /cols -->

	<hr class="noscreen" />

	<!-- Footer -->
	<div id="footer" class="box">

		<p class="f-left">&copy; 2012 <a href="#">Fermuch</a>, Todos los derechos e izquierdos reservados.</p>

		<p class="f-right">Diseño por <a href="http://www.adminizio.com/">Adminizio</a></p>

	</div> <!-- /footer -->

</div> <!-- /main -->

</body>
</html>